Hier werden zunächst die Pakete installiert, die man zum Auswerten braucht, und den Paketen Kurznamen wie "Pd" zur Verwendung im Programm gegeben (oder fachsprachlich, es werden "Objekte instantiiert" auf die man in der Punktschreibweise zugreifen kann. Mit der "Tab" taste kann man Auto-vervollständigen und so sehen was das Paket alles kann.

Das ganze wird mit Copy-and-Paste fähigen Codebeispielen erklärt hier:
<a href="https://github.com/jakevdp/PythonDataScienceHandbook/blob/8a34a4f653bdbdc01415a94dc20d4e9b97438965/notebooks/Index.ipynb">PythonDataScience Handbook</a>

In [34]:
import numpy as np
import pandas as pd
#Das zum Plotten habe ich mir bei der Installation des factor_analyzers scheints zerschossen. Sei's drum
#import matplotlib.pyplot as plt
#import seaborn as sns; sns.set()
#%matplotlib inline

numpy erlaubt das Spielen mit grooooßen Datensätzen. Pandas (Python Analytical Data Science, oder so) enthält Tools für die Auswertung und kann fast alles was SPSS auch kann. matplotlib ist so etwas wie gnuplot oder Matlab, es erlaubt Daten in Graphen zu visualisieren (wird hier zum plot-Obkekt plt, plt. + TAB zeigt die Plotstyles). Seaborn ist eine weitere Sammlung die das Plotten noch schöner und 3-Dimensional macht.

Pandas, hier kurz als pd. - Objekt instantiiert, kann Excel-Tabellen lesen. So wie unten. Bitte den Dateinamen ersetzen durch die eigene Datei. Mit sheet_name='' gibt man das Tabellenblatt an, das man lesen will. Anschliessend kann man sich durch print() anzeigen lassen was man gelesen hat.

In [35]:
from factor_analyzer import FactorAnalyzer

dtpre=pd.read_excel('RTOP.xlsx', sheet_name='Rohdaten')
print(dtpre.head(3))

   Format  Präsenz  Präsenz.1  Präsenz.2  Präsenz/Zoom  Päsenz  Präsenz.3  \
0       1        3          0          3             1       2          4
1       2        2          1          4             4       3          4
2       3        1          0          4             2       3          3

   Präsenz.4  Präsenz.5  Präsenz/Zoom.1  Präsenz.6  Präsenz.7  Päsenz/Zoom  \
0          3          1               2          0          0            4
1          4          0               4          3          0            2
2          4          0               2          1          0            3

   Präsenz.8  Präsenz.9
0          3          3
1          4          3
2          3          3

Der ganze Datensatz aus dem Excel-Blatt steht jetzt in der Variable "dtpre" zu verfügung und kann addiert, subtrahiert... gar heftig manipuliert werden. Hier wird dtpre erst mal transponiert, also Zeilen und Spalten vertauscht.

In [36]:
transponiert=dtpre.transpose()
print(transponiert)

                0   1   2   3   4   5   6   7   8   9  ...  15  16  17  18  \
Format           1   2   3   4   5   6   7   8   9  10 ...  16  17  18  19
Präsenz          3   2   1   1   0   4   2   4   4   3 ...   0   0   2   1
Präsenz.1        0   1   0   0   1   4   0   2   1   3 ...   1   0   1   0
Präsenz.2        3   4   4   2   1   4   2   2   3   1 ...   4   1   4   1
Präsenz/Zoom     1   4   2   0   2   4   2   4   2   4 ...   2   1   2   3
Päsenz           2   3   3   3   2   3   3   2   3   1 ...   2   3   3   3
Präsenz.3        4   4   3   2   2   3   4   4   4   4 ...   3   2   4   3
Präsenz.4        3   4   4   3   3   4   4   4   4   2 ...   2   4   4   4
Präsenz.5        1   0   0   0   1   4   2   3   2   2 ...   0   1   1   0
Präsenz/Zoom.1   2   4   2   3   4   4   3   4   2   4 ...   2   2   2   3
Präsenz.6        0   3   1   1   1   4   2   3   2   1 ...   2   1   2   1
Präsenz.7        0   0   0   0   1   4   2   2   2   4 ...   0   1   0   0
Päsenz/Zoom      4   2   3   2   2   4   2   4   4   4 ...   2   1   0   1
Präsenz.8        3   4   3   4   2   4   3   4   3   3 ...   3   4   4   4
Präsenz.9        3   3   3   3   4   4   3   3   2   3 ...   4   2   2   3

                19  20  21  22  23  24
Format          20  21  22  23  24  25
Präsenz          4   2   1   4   2   2
Präsenz.1        1   0   0   0   2   0
Präsenz.2        4   4   2   4   4   3
Präsenz/Zoom     4   4   1   4   3   1
Päsenz           4   3   1   2   2   3
Präsenz.3        4   3   3   4   3   4
Präsenz.4        4   4   3   4   3   4
Präsenz.5        1   1   0   1   0   1
Präsenz/Zoom.1   3   4   2   4   3   3
Präsenz.6        2   2   1   1   2   3
Präsenz.7        0   0   0   0   0   0
Päsenz/Zoom      3   2   2   4   2   2
Präsenz.8        2   3   4   1   4   3
Präsenz.9        2   3   2   2   2   3

[15 rows x 25 columns]

Mit der Bracket-Schreibweise kann man sich einzelne Zeilen und Spalten herausgreifen und hier zum Beispiel in eine neue Variable "pre" speichern. Vor dem Komma stehen die Zeilen, nach dem Komma die Spalten. 1:15 heisst von Zeile 1 bis zeile 15, wobei pandas bei Zeile 0 anfängt zu zählen.

Die Nullte Zeile (Format) stört hier zum Beispiel, ich erzeuge mit der Bracket-schreibweise einen Auszug "Pre" ab der ersten Zeile und rechne damit weiter.

In [45]:
pre=transponiert.iloc[1:15, 0:25]
print(pre)

                0   1   2   3   4   5   6   7   8   9  ...  15  16  17  18  \
Präsenz          3   2   1   1   0   4   2   4   4   3 ...   0   0   2   1
Präsenz.1        0   1   0   0   1   4   0   2   1   3 ...   1   0   1   0
Präsenz.2        3   4   4   2   1   4   2   2   3   1 ...   4   1   4   1
Präsenz/Zoom     1   4   2   0   2   4   2   4   2   4 ...   2   1   2   3
Päsenz           2   3   3   3   2   3   3   2   3   1 ...   2   3   3   3
Präsenz.3        4   4   3   2   2   3   4   4   4   4 ...   3   2   4   3
Präsenz.4        3   4   4   3   3   4   4   4   4   2 ...   2   4   4   4
Präsenz.5        1   0   0   0   1   4   2   3   2   2 ...   0   1   1   0
Präsenz/Zoom.1   2   4   2   3   4   4   3   4   2   4 ...   2   2   2   3
Präsenz.6        0   3   1   1   1   4   2   3   2   1 ...   2   1   2   1
Präsenz.7        0   0   0   0   1   4   2   2   2   4 ...   0   1   0   0
Päsenz/Zoom      4   2   3   2   2   4   2   4   4   4 ...   2   1   0   1
Präsenz.8        3   4   3   4   2   4   3   4   3   3 ...   3   4   4   4
Präsenz.9        3   3   3   3   4   4   3   3   2   3 ...   4   2   2   3

                19  20  21  22  23  24
Präsenz          4   2   1   4   2   2
Präsenz.1        1   0   0   0   2   0
Präsenz.2        4   4   2   4   4   3
Präsenz/Zoom     4   4   1   4   3   1
Päsenz           4   3   1   2   2   3
Präsenz.3        4   3   3   4   3   4
Präsenz.4        4   4   3   4   3   4
Präsenz.5        1   1   0   1   0   1
Präsenz/Zoom.1   3   4   2   4   3   3
Präsenz.6        2   2   1   1   2   3
Präsenz.7        0   0   0   0   0   0
Päsenz/Zoom      3   2   2   4   2   2
Präsenz.8        2   3   4   1   4   3
Präsenz.9        2   3   2   2   2   3

[14 rows x 25 columns]

Und jetzt kommt endlich das plt-Objekt, das Plotten kann. Hier habe ich statt des Histogramms einmal einen Boxplot beantragt, weil es m.E. mehr Sinn macht.

In [46]:
#plt.boxplot(pre)

In [47]:
fa = FactorAnalyzer()

In [52]:
fa.analyze(transponiert, 3, rotation=None)

In [53]:
fa.loadings

     Factor1   Factor2   Factor3
0   0.063357  0.821503  0.457342
1   0.171517  0.750848 -0.166093
2   0.456903  0.839441 -0.016022
3   0.641219  0.613215 -0.135165
4   0.713520  0.227730 -0.172817
5   0.743964 -0.436286  0.006456
6   0.891681  0.209219  0.043364
7   0.868283 -0.052757  0.254100
8   0.904890  0.022602  0.372536
9   0.793629 -0.317213  0.196032
10  0.950718  0.155085 -0.150823
11  0.957743  0.138133  0.006462
12  0.972055  0.077497 -0.155278
13  0.970396 -0.003062 -0.115988
14  0.983072  0.050372 -0.125992
15  0.973203 -0.053885 -0.097798
16  0.973637 -0.113281 -0.065639
17  0.974836 -0.078080 -0.054187
18  0.987962 -0.073179 -0.046050
19  0.965440 -0.120366  0.091195
20  0.987724 -0.099744 -0.024731
21  0.988707 -0.137068  0.037285
22  0.962922 -0.143206  0.154547
23  0.977230 -0.175891 -0.014045
24  0.985093 -0.137429  0.006515

In [54]:
fa.get_uniqueness()

    Uniqueness
0     0.111956
1     0.379223
2     0.086323
3     0.194535
4     0.409162
5     0.256131
6     0.159252
7     0.178734
8     0.041879
9     0.231101
10    0.049336
11    0.063606
12    0.024991
13    0.044869
14    0.015159
15    0.040409
16    0.034889
17    0.040663
18    0.016454
19    0.045122
20    0.013840
21    0.002280
22    0.028389
23    0.013887
24    0.010663

In [55]:
fa.get_factor_variance()

                  Factor1   Factor2   Factor3
SS Loadings     18.947046  2.901660  0.658442
Proportion Var   0.757882  0.116066  0.026338
Cumulative Var   0.757882  0.873948  0.900286